
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/gg.css">
</head>
<title></title>
<header>
    <h1>Barclay</h1>
    
    <th scope="row">Svergie har man lite gött med köttbullar</th>
    <div>
        <img src="/instagram (1).svg" alt="instagram">
        <img src="/youtube.png" alt="youtube">
        <img src="/twitter.png" alt="twitter">
        <img src="/reddot.png" alt="red">
        <img src="/call.png" alt="call">
    </div>
</header>
<body>